.Logo {
    max-width: 90px;
    margin-top: 5px;
}

@media (max-width: 800px) {
    .Logo {
        max-width: 70px;
    }
}

.Menu {
    width: 100%;
    height: 70px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 5%;
    padding-right: 5%;
    background: var(--black);
}

a.ButtonLink {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
}

body {
    --bodyPaddingTop: 70px;
    padding-top: var(--bodyPaddingTop);
}

@media (max-width: 800px) {
    .Menu {
        height: 50px;
    }
    body {
        --bodyPaddingTop: 40px;
        padding-top: var(--bodyPaddingTop);
    }
}

@media (max-width: 800px) {
    a.ButtonLink {
        font-size: 13px;
    }
}